* {
  font-family: "Roboto", sans-serif;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  padding: 25px;
}
input {
  width: 30%;
  height: 55px;
  border: 2px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
}

/* Gallery CSS Grid */
img {
  width: 225px;
}
.gallery {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  row-gap: 30px;
  column-gap: 50px;
  justify-content: center;
}
